<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="dbUtil" class="com.linxn.spring.hanshunping.class12.DBUtil">
        <property name="name" value="" />
        <property name="driver" value="" />
        <property name="url" value="" />
        <property name="pwd" value="" />
    </bean>

</beans>