<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personService" init-method="myInit" class="com.linxn.spring.hanshunping.class7.PersonService">
        <property name="name" value="linxn"/>
    </bean>

    <bean id="myBeanPostProcessor" class="com.linxn.spring.hanshunping.class7.MyBeanPostProcessor" />

</beans>